<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--Ext框架开始-->
    <link type="text/css" rel="stylesheet" href="/Ext/resources/css/ext-all.css"/>
    <script type="text/javascript" src="/Ext/adapter/ext/ext-base.js"></script>
    <script type="text/javascript" src="/Ext/ext-all.js"></script>
    <!--Ext框架结束-->
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <title>主页面</title>
</head>
<body>
<script th:inline="javascript">
    var data = [[${data}]]
    var json = []
</script>
    <script type="text/javascript" src="/js/tools.js"></script>
    <script type="text/javascript" src="/js/index.js" th:inline="javascript"></script>
    <script type="text/javascript" src="/js/maindata.js" th:inline="javascript"></script>
    <script type="text/javascript" src="/js/tree.js" th:inline="javascript"></script>
</body>
</html>